/* general styles for all pages */

* {
  margin: 0;
  padding: 0;
  font-family: 'Inter';
}

body {
  overflow: hidden;
}

/* scrollbar */
::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

::-webkit-scrollbar-track {
  background: none;
}